body{
    font-family: 'Concert One', cursive;
    margin: 0px;

}
.top{
    display: flex;
}
a{
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(149, 149, 241), cyan);
    color: white;
    padding: 10px 40px;
    border-radius: 50px;
    box-shadow: 5px 5px 40px cyan;
}
span{
    color: cyan;
}
.top-left{
    width: 50%;
    font-size: 30px;
    margin-top: 160px;
    margin-left: 100px;

}


.top-right{
    margin-top: 60px;
    width: 700px;
    height: 800px;
    
}
.tlh1{
    font-weight: bold;
    font-size: 80px;
    line-height: 40px;
}

.tlh2{
    font-weight: bold;
    font-size: 60px;
 
   

}
.mid1{
    display: flex;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 70%;
    background-attachment: fixed;
}
.top-right1{
    width: 50%;
    font-size: 25px;
    margin-left: 400px;
    margin-right: 200px;
    margin-bottom: 50px;


}
.top-left1{
    height: 100%;
    margin-left: 200px;


}
.mid2{
    display: flex;
    margin-bottom: 80px;
}
.foodi{
    width: 30%;
    padding: 40px;
    box-shadow: 1px 1px 30px rgb(71, 69, 69);
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    
}
.foodi img{
    width: 100%;
}

.bottom-mid{
    display: flex;
    margin-bottom: 50px;
    box-shadow: 1px 1px 30px rgb(71, 69, 69);
    border-radius: 15px;
    margin-left: 300px;
    margin-right: 300px;
}
.bottom-mid div{
   
    width: 33.3%;
    text-align: center;
    font-size: 25px;
    padding: 30px;

    
}
    

footer{
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding-top: 10px;
    line-height: 60px;
    
}

footer span{
    color: orange;
}
footer p{
    padding-bottom: 110px;
}